Stupid Coach!!
<br>
ask page
<div>
<br>
<div class= container>
<br>
<form action="/answer" data-turbo="false">
  <label for="question"><strong>Your question</strong></label>
  <input type="text" id="question" name="input">
  <input type="submit" value="Sumit!">
</form>
